body{
    text-transform: capitalize;
}
.location{
    background-color: rgba(255, 255, 255,0.5);
    color: rgb(50, 4, 58);
    font-family: cursive;
    margin:15% 0;
    text-align: center;
    padding: 0.5%;
}
.location #mapid{
    height: 180px;
    border: solid 2px rgb(129, 124, 124);
}
.location #button{
    background-color: rgb(50, 4, 58);
    color: rgba(255, 255, 255,0.5);
    padding: 2%;
}
.location #ans{
    transition: 0.6s ease;
}