<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selfie Lele Re</title>
    <link rel="icon" href="photos/icon.webp">
    <style>
    body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('photos/bg2.jpeg');
    background-size: cover;
    color: aliceblue;
    }
    header h1{
        border-bottom: solid 1px rgb(188, 192, 196);
        padding-bottom: 2%;
        text-align: center;
    }
    header ul{
        padding: 0;
        list-style-type: none;
        display: flex;
        text-align: center;
    }
    header ul li{
        flex: 1 1 0;
    }
    header ul li a{
        text-decoration: none;
        color:aliceblue;
        border-bottom: solid 1px aliceblue;
        padding: 3%;
        border-radius: 10%;
    }

    </style>
</head>
<body>
    <header>
        <h1>Selfie लेले रे ...</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </header>
    
</body>
</html>